doctype html
style.
    li {
        font-size: 200%;
    }
html
    meta(charset='utf-8')
    head
        title 文件目录
    body
        #content
        for book in files
            li
                a(href=baseUrl + book) #{book}
        else
            li 当前目录下没有文件
